meta{
    
}

body{
    background:bisque;
    margin: 1cm;
    font-family:cursive;
}

h1{
    text-align: center;
    box-shadow: 2px 2px 7px 1px rgba(206,89,55,0.7);
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

hr{
    text-align: center;
}

h4{
    text-align: center;
}

p{
    text-align: left;
}

p{
    text-align: center;
}

h1{
    text-align: center;    
}

iframe{
    width:"1280"; 
    height:"720";
    
}

iframe{
    width:"1280"; 
    height:"720";
}